<!--pages/store/bind-device/index.wxml-->
<page-meta>
	<!-- background-text-style="{{bgTextStyle}}"
  background-color="{{bgColor}}"
  background-color-top="{{bgColorTop}}"
  background-color-bottom="{{bgColorBottom}}"
  scroll-top="{{scrollTop}}"
  page-style="color: green"
  root-font-size="16px" -->
	<navigation-bar title="绑定设备" />
	<!-- loading="{{nbLoading}}"
    front-color="{{nbFrontColor}}"
    background-color="{{nbBackgroundColor}}" -->
</page-meta>

<van-toast id="van-toast" />

<view style="width: 100%; height: 100%;">
	<van-cell-group>
		<van-field disabled="{{ isBind }}" value="{{ device.label }}" placeholder="请输入设备名称" border="{{ true }}" data-input-type="label" bind:change="onChangeField" required clearable label="设备名称" />
		<van-field disabled="{{ true }}" value="{{ device.batchNum }}" border="{{ true }}" label="设备标识" />
		<van-field disabled="{{ true }}" value="{{ device.name }}" border="{{ true }}" label="设备序列号" />
		<van-field disabled="{{ true }}" value="{{ device.type }}" border="{{ true }}" label="设备类型" />
    <van-field disabled="{{ true }}" wx-if="device.formatProductionDate" value="{{ device.formatProductionDate }}" border="{{ true }}" label="加入时间" />
	</van-cell-group>
  <view style="width: 100%; margin-top: 60rpx; box-sizing: border-box; padding-left: 200rpx; padding-right: 200rpx;">
    <van-button wx-if="{{ !isBind }}" plain round color="#4185F4" custom-class="btn-bind-device" bind:click="onSaveAndBindDeivce">绑定设备</van-button>
    <van-button plain round color="#4185F4" custom-class="btn-bind-device" bind:click="onConnectDevice">设备配网</van-button>
  </view>
</view>