<!--pages/store/poder-device/index.wxml-->

<page-meta background-color="#F9FAFA">
	<!-- background-text-style="{{bgTextStyle}}"
  background-color="{{bgColor}}"
  background-color-top="{{bgColorTop}}"
  background-color-bottom="{{bgColorBottom}}"
  scroll-top="{{scrollTop}}"
  page-style="color: green"
  root-font-size="16px" -->
	<navigation-bar title="{{ title }}" />
	<!-- loading="{{nbLoading}}"
    front-color="{{nbFrontColor}}"
    background-color="{{nbBackgroundColor}}" -->
</page-meta>

<van-toast id="van-toast" />
<van-dialog id="van-dialog"/>
<view style="width: 100%; height: 100%; background-color: #F0F0F0;">
		<view wx:if="{{ isOnLine == -1 }}" class="top-content"></view>
    <view wx:elif="{{ isOnLine == 0 }}" class="top-content">
			<view style="color: white; font-size: 28px;">离线</view>
		</view>
 	  <view wx:elif="{{ wsResult1.deviceStatusValue == '240' || wsResult1.deviceStatusValue == '241' }}"  class="top-content">
			<view style="color: white; font-size: 28px;">{{ wsResult1.deviceStatusName }}</view>
		</view>
	<view wx:else="{{ wsResult1.deviceStatusValue != '240' && wsResult1.deviceStatusValue != '241' }}" class="top-content">
		<van-row style="width: 100%;">
			<van-col span="11">
				<view style="width: 100%; height: 200rpx; display: flex; flex-direction: column; justify-content: center;">
					<view style="display: flex; flex-direction: row-reverse; font-size: 28px;color: #fff;">{{ wsResult1.tempetureValue }}</view>
					<view style="display: flex; flex-direction: row-reverse; font-size: 14px;color: #fff;">温度(℃)</view>
				</view>
			</van-col>
			<van-col span="2">
				<view style="width: 100%; height: 200rpx; display: flex; flex-direction: row; justify-content: center; align-items: center; box-sizing: border-box; padding-top: 60rpx; padding-bottom: 60rpx;">
					<view style="width: 1px; height: 100%; background: #fff;"></view>
				</view>
			</van-col>
			<van-col span="11">
				<view style="width: 100%; height: 200rpx; display: flex; flex-direction: column; justify-content: center;">
					<view style="display: flex; flex-direction: row; font-size: 28px;color: #fff;">{{ wsResult1.tempeMaxValue }}</view>
					<view style="display: flex; flex-direction: row; font-size: 14px;color: #fff;">温度上限(℃)</view>
				</view>
			</van-col>
		</van-row>
	</view>

	<view class="bottom-content">
		<view class="bottom-content-item-2" bindtap="onShowModelPopup">
			<image src="{{ isOnLine == -1 ? '../../../imgs/close.png' : wsResult1.deviceStatusImage }}" style="width: 44px; height: 44px;" />
				<view wx:if="{{ isOnLine == 0 }}" style="margin-left: 30rpx; font-size: 15px;">离线</view>
				<view wx:else style="margin-left: 30rpx; font-size: 15px;">{{ wsResult1.deviceStatusName }}</view>
				<view style="margin-left: auto; display: flex; flex-direction: row;align-items: center;">
					<view style="color: #969799;">{{ wsResult1.tempeMaxValue }}℃</view>
					<van-icon name="arrow" color="#969799" />
				</view>
		</view>
		<view class="bottom-content-item-2" bindtap="onShowDelayModelPopup">
			<image src="../../../imgs/sche_time.png" style="width: 44px; height: 44px;" />
				<view style="margin-left: 30rpx; font-size: 15px;">预热预约</view>
				<view style="margin-left: auto; display: flex; flex-direction: row;align-items: center;">
					<view style="color: #969799;">{{ formatDelayTime }}</view>
					<van-icon name="arrow" color="#969799" />
				</view>
		</view>
		<view class="bottom-content-item-2" bindtap="onSetting">
			<image src="../../../imgs/setting.png" style="width: 44px; height: 44px;" />
				<view style="margin-left: 30rpx; font-size: 15px;">设置</view>
				<view style="margin-left: auto;">
					<van-icon name="arrow" color="#969799" />
				</view>
		</view>
	</view>
</view>

<van-popup show="{{ showModelPopup }}" position="bottom" custom-style="height: 150px;" bind:close="onCloseModelPopup">

	<view style="height: 44px; line-height: 44px; display: flex; flex-direction: row; border: 0 solid #eee; border-width: 1rpx 0; ">
		<view bindtap="onClickModelCancel" style="padding: 0 16px; font-size: 14px; color: #1989fa;">取消</view>
		<view bindtap="onClickModelOk" style="padding: 0 16px; font-size: 14px; color: #1989fa; margin-left: auto;">确认</view>
	</view>

	<view style="padding: 0 20px 0 20px; margin-top: 35px; display: flex; flex-direction: row;">
		<view style="width: 20%; align-items: center; display: flex;">温度:</view>
		<van-stepper style="width: 80%;" input-width="80" value="{{ temp }}" min="{{tempRange.min}}" max="{{tempRange.max}}" integer bind:change="onChangeTemp"/>
	</view>
</van-popup>

<van-popup show="{{ showDelayModelPopup }}" position="bottom" custom-style="height: 200px;" bind:close="onCloseDelayModelPopup">

	<view style="height: 44px; line-height: 44px; display: flex; flex-direction: row; border: 0 solid #eee; border-width: 1rpx 0; ">
		<view bindtap="onClickDelayModelCancel" style="padding: 0 16px; font-size: 14px; color: #1989fa;">取消</view>
		<view bindtap="onClickDelayModelOk" style="padding: 0 16px; font-size: 14px; color: #1989fa; margin-left: auto;">确认</view>
	</view>

	<view style="padding: 0 20px 0 20px; margin-top: 35px; display: flex; flex-direction: row;">
		<view style="width: 20%; align-items: center; display: flex;">温度:</view>
		<van-stepper style="width: 80%;" input-width="80" value="{{ delayTemp }}" min="{{tempRange.min}}" max="{{tempRange.max}}" integer bind:change="onChangeDelayTemp"/>
	</view>

	<view style="padding: 0 20px 0 20px; margin-top: 30px; display: flex; flex-direction: row;">
		<view style="width: 20%;">预约:</view>
		<!-- <view bindtap="onShowTimePopup" style="width: 80%; color: #1989fa; ">{{ formatCurrentDate }}</view> -->
		<van-button size="small" color="#1989fa" custom-class="btn-select-time" bind:click="onShowTimePopup">{{ formatCurrentDate ?  formatCurrentDate : '选择时间'}}</van-button>
	</view>
</van-popup>

<van-popup show="{{ showTimePopup }}" position="bottom" custom-style="height: 550rpx;" bind:close="onCloseTimePopup">
	<van-datetime-picker type="datetime" min-hour="{{ minHour }}" max-hour="{{ maxHour }}" min-date="{{ minDate }}" bind:input="onInputTime" bind:confirm="onConfirmTime" bind:cancel="onCancelTime"  />
</van-popup>